@page "/products"
@using ReactiveAndFodyTst.Client.ViewModels
@using ReactiveUI.Blazor
@inherits ReactiveComponentBase<ProductsViewModel>
@inject ProductsViewModel _viewModel

<h3>Products</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewModel.Products != null)
        {
            @foreach (var product in ViewModel.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString("C")</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    protected override void OnInitialized()
    {
        ViewModel ??= _viewModel;
    }

}
