@page "/room"
@using ReactiveAndFodyTst.Client.ViewModels
@using ReactiveUI.Blazor
@using System.Reactive.Linq
@inherits ReactiveComponentBase<RoomViewModel>
@inject RoomViewModel _viewModel

<h3>Add New Product</h3>

<div class="form-group">
    <label>TestChangeFromViewmode:</label>
    <input type="text" class="form-control" @bind-value="ViewModel.ChangeFromViewModel" @bind-value:event="oninput" />
</div>


<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label>RoomCount:</label>
            <input type="text" class="form-control" @bind-value="ViewModel.RoomCount" @bind-value:event="oninput" />
        </div>




        @if (ViewModel.RoomList != null)
        {
            @foreach (var room in ViewModel.RoomList)
            {
                <div class="form-group" style="border:red">
                    <label>Adultcount:</label>
                    <input type="text" class="form-control" @bind-value="room.AdultCount" @bind-value:event="oninput" />

                    <label>ChildrenCount:</label>
                    <input type="text" class="form-control" @bind-value="room.ChildrenCount"
                           @oninput="@(e => ViewModel.OnChildrenCountChanged(room, e))" />
                    @foreach (var children in room.ChildrenList)
                    {

                        <label>children Age:</label>
                        <input type="text" class="form-control" @bind-value="children.Age" @bind-value:event="oninput" />

                    }
                </div>

            }
        }


        <div class="mt-3">
            <button class="btn btn-primary"
                    @onclick="@Save">
                Add
            </button>
            @* <button class="btn btn-secondary" @onclick="@(() => ViewModel.ClearCommand.Execute().Subscribe())">Clear</button> *@
        </div>
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        ViewModel ??= _viewModel;
    }

    private async Task Save()
    {

        ViewModel.Save();
    }




}

